#map_button p {
    position: absolute;
    top: 30px;
    left: 7px;
    font-size:17px;
    margin-right: 50px;
    color: #282828;
    word-wrap: break-word;
    width: 70px;
    line-height: 20px;
    text-align: center;
}
#openbtn {
    position: absolute;
    top: 10px;
    left: 80px;
    font-size:50px;
    margin-right: 50px;
    color: #282828;
    text-decoration: none;
}
#panel_button a:hover,
#map_button a:hover,
#panel_button p:hover,
#map_button p:hover
{
    color: #818181;
    text-decoration: none;
    cursor: pointer;
}

#panel_button p {
    position: absolute;
    top: 30px;
    right: 7px;
    font-size: 17px;
    margin-left: 50px;
    color: #282828;
    word-wrap: break-word;
    width: 70px;
    line-height: 20px;
    text-align: center;
}
#closebtn {
    position: absolute;
    top: 10px;
    right: 80px;
    font-size: 50px;
    margin-left: 50px;
    color: #282828;
    text-decoration: none;
}