html, body, #main {
    height: 100%;
    width: 100%;
    margin: 0px;
}

#map {
    height: 100%;
    width: 100%;
    /*position: absolute;*/
    /*top: 100px;*/
    /*left: 50px;*/
    /*height: calc(100% - 200px);*/
    /*width: calc(100% - 100px);*/

    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    /*z-index: 1;*/
}